<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <img class="logo" src="static/core/img/logo_dc.png" style="height: 30px; margin-right: 10px;" alt="DC">
    <a class="navbar-brand" href={% url 'index' %}> SNYDERVERSE </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'registrarme' %}">Registrarse</a>
        </li>
        {% endif %}
        {% if user.is_authenticated and user.is_staff and user.is_active or user.is_authenticated and user.is_superuser and user.is_active %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
              aria-expanded="false">
            Admnistrar tienda
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'productos' 'crear' '0' %}"> Productos </a></li>
            <li><a class="dropdown-item" href="{% url 'usuarios' 'crear' '0' %}"> Usuarios </a></li>
            <li><a class="dropdown-item" href="{% url 'bodega' %}"> Bodega </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'ventas' %}"> Ventas </a></li>
            {% if user.is_authenticated and user.is_superuser and user.is_active %}
            <li><a class="dropdown-item" href="/admin"> Administrador de Django </a></li>
            {% endif %}
          </ul>
        </li>
      {% endif %}
      {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'ingresar' %}">Iniciar sesión</a>
        </li>
      {% endif %}
      {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
                aria-expanded="false" href="{% url 'ingresar' %}">                
              {% if user.is_superuser %}
                <span class="text-danger fw-bold">
              {% elif user.is_staff %}
                <span class="text-success fw-bold">
              {% else %}
                <span>
              {% endif %}
                {{ first_name }} {{ last_name }}
                {% if user.perfil.subscrito %}
                  (premium)
                {% endif %}
              </span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'misdatos' %}"> Mis datos </a></li>
              <li><a class="dropdown-item" href="{% url 'mipassword' %}"> Cambiar mi contraseña </a></li>
              {% if not user.is_staff and not user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'MisCompras' %}"> Mis compras </a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'salir' %}"> Salir </a></li>
            </ul>
          </li>
        {% endif %}
        {% if mostrar_carrito %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'carrito' %}">Carrito</a>
          <img src="{% static 'core/img/carrito.png' %}" width="32px">
              {{ cantidad_productos }}
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'DatosPersonales' %}">Datos personales</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'AdministracionProductos' %}">Administracion de Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'MisComprasAnteriores' %}">Mis Compras Anteriores</a>
      </li>
      </ul>      
      <a href="{% url 'premio' %}">
        <img src="{% static 'core/img/oferta.png' %}" style="height: 38px; margin-right: 10px;" alt="">
      </a>
      <form method="post" action="{% url 'inicio' %}" class="d-flex" role="search">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Buscar productos" 
            aria-label="Search" id="buscar" id="buscar" name="buscar">
        <button class="btn btn-outline-success" type="submit"> Buscar </button>
      </form>      
    </div>
  </div>
</nav>