{% extends 'core/base.html' %}
{% load static %}

{% block content %}


    <h1>¡Hola a todos los fans del SnyderVerse!</h1>
    <p class="card text">
      En estos tiempos, más que nunca, es importante demostrar nuestro apoyo y
      gratitud hacia el increíble trabajo de Zack Snyder y todo el equipo detrás
      del SnyderVerse. Sus películas han impactado profundamente a muchos de
      nosotros, inspirándonos, emocionándonos y llevándonos a mundos llenos de
      imaginación y significado. Cada película del SnyderVerse ha sido un
      testimonio del poder del cine para contar historias épicas y emocionales,
      repletas de personajes complejos y momentos icónicos. Desde "Man of Steel"
      hasta "Zack Snyder's Justice League", hemos sido testigos de un universo
      cinematográfico único y visionario que ha dejado una marca indeleble en la
      cultura pop. En momentos de incertidumbre, es crucial recordar el impacto
      positivo que estas películas han tenido en nuestras vidas. Son mucho más
      que simples películas; son fuentes de inspiración, debate y comunidad. Nos
      han unido en nuestra pasión por estas historias y personajes, creando
      lazos que trascienden fronteras y diferencias. Es importante seguir
      apoyando al SnyderVerse, ya sea a través de nuestras redes sociales,
      participando en eventos de fandom o simplemente compartiendo nuestro amor
      por estas películas con amigos y familiares. Juntos, podemos mantener viva
      la llama del SnyderVerse y demostrar que hay un lugar especial en el
      corazón de los fans para este universo cinematográfico único. Sigamos
      apoyando a Zack Snyder y al SnyderVerse con todo nuestro corazón. Porque
      en un mundo lleno de superhéroes, estas películas son verdaderamente
      super.
    </p>    
    <img
      height="400px"
      src="{%static 'core/img/Zack_Snyder_by_Gage_Skidmore_2.jpg'%}"
      alt="ZACK SNYDER"
    />
    <img height="400px" src="{%static 'core/img/SNYDERVERSE.jpg'%}" alt="AEQUITAS" />
    <img
      height="400px"
      src="{%static 'core/img/605637621c4f2.jpeg'%}"
      alt="REST IN PEACE AUTOMN SNYDER"
    />

    {% endblock content %}