.Logo{
    width: 40px;
    margin-right: 10px;
}

.ficha_foto{
    width: 520px;
    margin-right: 757px;
}

.registro_foto {
    height: 200px;
}

body {
    padding: 10px;
}

h1 {
    color: RED;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.cuadro_login {
    border: 1px solid GRAY;
    padding: 10px;
    width: 300px;
}

.boton_ingresar {
    color: white;
    width: 200px;
    margin: auto
}

.index_disponible {
    color: goldenrod;
    font-weight: bolder;
}

.index_precio {
    color: crimson;
    font-size: 20px;
}

.ficha_titulo {
    font-size: 35px;
    font-weight: bolder;
}

.ficha_disponible {
    color: blueviolet;
    font-weight: bolder;
    font-size: 30px;
}

.ficha_precio {
    font-size: 40px;
}

td{
    border: 1px solid blue !important;
}

label {
    font-weight: bolder;
}

.error{
    color: red;
    font-weight: bolder;
}